<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<% include ./public/header.ejs %>
<section id="para1" class="py-5 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-5 col-md-5 mx-auto">
            <h1 class="fw-bold">About</h1>
            <p class ="lead text-md-start fw-normal">
                This is an online animal adopting platform.
                You can posting images and descriptions of the animals available for adoptions
                commenting on the animals and searching and browsing the website and apply to adopt an animal.</p>
        </div>
    </div>
</section>
<% include ./public/footer.ejs %>
</body>
</html>