<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/database.js"></script>
</head>
<body>
<h1>This a mongoose demo</h1>
<div>
    <form>
        <p>
            <label for="username">username: </label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">password: </label>
            <input type="text" name="password" id="password">
        </p>
        <p>
            <label for="email">email: </label>
            <input type="number" name="email" id="email">
        </p>
        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>
</div>
<div id="results" style="margin-top:50px"></div>

</body>
</html>