<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Animal Adoption</title>
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
        }
    </style>
</head>
<body>
<% include ./public/header.ejs %>
<% include ./public/aside.ejs %>
<% include ./public/main.ejs %>
<% include ./public/footer.ejs %>
</body>

</html>
